<section class="area" id="area">
    <div class="blc__inner">
        <h2 class="area__ttl">会場アクセス</h2>
        <div class="area__map--wrapper">
            <div class="area__map">
                <!-- <picture class="header__chara">
                <source srcset="./img/img_menu-chara.webp" type="image/webp" >
                <img src="./img/img_menu-chara.png" alt="きりんさん" width="624" height="1358">
            </picture> -->

            </div>
        </div>
        <div class="area__spot area__spot1">
            <h3 class="area__spot--ttl" id="spot1">SPOT1</h3>
            <p class="area__spot--txt">デジタルアトラクション</p>
            <picture class="area__spot1--chara1">
                <source srcset="./img/img_usagi.webp" type="image/webp">
                <img src="./img/img_usagi.png" alt="うさぎさん" width="352" height="549">
            </picture>
            <picture class="area__spot1--chara2">
                <source srcset="./img/img_usagi2.webp" type="image/webp">
                <img src="./img/img_usagi2.png" alt="うさぎさん" width="436" height="676">
            </picture>
            <div class="area__spot1--blc">
                <div class="area__spot1--blc-small area__spot1--blc-small1">
                    <div class="area__spot1--blc-img">
                        <div class="area__spot1--blc-imgtest">
                            <picture >
                                <source srcset="./img/comingsoon.webp" type="image/webp" >
                                <img src="./img/comingsoon.png" alt="" width="1243" height="218">
                            </picture>
                        </div>
                    </div>
                    <p class="area__spot1--blc-txt">360°VRシアター（4DOH）／「たべっ子どうぶつマジカルダンスシアター」</p>
                    <p class="area__spot1--blc-txt2">ここでしか見られない「たべっ子どうぶつ」の不思議なショーを、360度3Dアニメーションで体験しよう！</p>
                </div>
                <div class="area__spot1--blc-small area__spot1--blc-small2">
                    <div class="area__spot1--blc-img">
                        <div class="area__spot1--blc-imgtest">
                            <picture >
                                <source srcset="./img/comingsoon.webp" type="image/webp" >
                                <img src="./img/comingsoon.png" alt="" width="1243" height="218">
                            </picture>
                        </div>
                    </div>
                    <p class="area__spot1--blc-txt">3D AR「たべっ子どうぶつのかくれんぼ」</p>
                    <p class="area__spot1--blc-txt2">『たべっ子どうぶつLAND』内に隠れている、どうぶつたちを、ARカメラアプリ「AR SQUARE」を使って見つけよう！
                        設置されたパネルのQRコードを「AR SQUARE」で読み取り、かわいいARコンテンツをダウンロードして楽しもう！</p>
                    <p class="area__spot1--blc-note">※「AR SQUARE」はご来場前のダウンロードを推奨しております。ダウンロードはこちら(リンク後追)</p>
                    <p class="area__spot1--blc-note">※画像は一部ARコンテンツのイメージです。</p>
                </div>
            </div>

        </div>

        <div class="area__spot--wrapper">
            <div class="area__spot area__spot2">
                <h3 class="area__spot--ttl" id="spot2">SPOT2</h3>
                <p class="area__spot--txt">プロジェクションマッピング</p>
                <picture class="area__spot2--chara1">
                    <source srcset="./img/img_saru.webp" type="image/webp">
                    <img src="./img/img_saru.png" alt="さるさん" width="348" height="448">
                </picture>
                <picture class="area__spot2--chara2">
                    <source srcset="./img/img_saru2.webp" type="image/webp">
                    <img src="./img/img_saru2.png" alt="さるさん" width="454" height="558">
                </picture>
                <div class="area__spot1--blc">
                    <div class="area__spot1--blc-small">
                        <div class="area__spot1--blc-img">
                            <div class="area__spot1--blc-imgtest">
                                <picture >
                                    <source srcset="./img/comingsoon.webp" type="image/webp" >
                                    <img src="./img/comingsoon.png" alt="" width="1243" height="218">
                                </picture>
                            </div>
                        </div>
                        <p class="area__spot1--blc-txt">「たべっ子どうぶつ」プロジェクションマッピング</p>
                        <p class="area__spot1--blc-txt2">
                            ここでしか見られない、様々な「たべっ子どうぶつ」の世界観を巨大スクリーン(15ｍ×3.6ｍ)に投影！<br>不思議な世界を楽しもう！</p>
                        <p class="area__spot1--blc-note">※画像はプロジェクションマッピングの一部イメージです。</p>

                    </div>

                </div>
            </div>
            <div class="area__spot area__spot3">
                <h3 class="area__spot--ttl" id="spot3">SPOT3</h3>
                <p class="area__spot--txt">フォトスポット</p>
                <picture class="area__spot3--chara1">
                    <source srcset="./img/img_spot3.webp" type="image/webp">
                    <img src="./img/img_spot3.png" alt="SPOT3" width="226" height="446">
                </picture>

                <div class="area__spot1--blc">
                    <div class="area__spot1--blc-small">
                        <div class="area__spot1--blc-img">
                            <div class="area__spot1--blc-imgtest">
                                <picture >
                                    <source srcset="./img/comingsoon.webp" type="image/webp" >
                                    <img src="./img/comingsoon.png" alt="" width="1243" height="218">
                                </picture>
                            </div>
                        </div>
                        <p class="area__spot1--blc-txt"></p>
                        <p class="area__spot1--blc-txt2"></p>
                        <p class="area__spot1--blc-note"></p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>