@charset "UTF-8";
@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.access {
  background-color: #FFFCC9;
}
.access .blc__inner {
  padding: 57px 0;
  position: relative;
}
.access__ttl {
  text-indent: -9999px;
  white-space: nowrap;
  width: 236px;
  height: 52px;
  background-size: 100% auto;
  margin: 0 auto 30px;
}
.access__subttl {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
}
.access__add {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
}
.access__mapwrap {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px;
}
.access__map {
  background-color: #000;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 800;
  color: #FFF;
  text-decoration: none;
  margin: 0 auto;
  display: inline-block;
  padding: 8px 53px 10px 27px;
  line-height: 24px;
  background-image: url("../img/map.svg");
  background-repeat: no-repeat;
  background-position: right 16px top 8px;
  background-size: 23px 23px;
}
.access__map:hover {
  opacity: 0.7;
}
.access__blc {
  margin: 0 auto 40px;
  max-width: 330px;
}
.access__subttl2 {
  font-weight: 600;
  text-align: center;
  font-size: 1.125rem;
  margin: 0 auto 10px;
}
.access__subtxt {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.8;
  margin: 0;
}
.access__noteblc {
  background-color: #FFF;
  max-width: 568px;
  margin: 0 auto;
  padding: 25px;
}
.access__noteblc a {
  color: #00A0E9;
}
.access__noteblc--txt {
  font-size: 0.75rem;
  line-height: 1.8;
  margin: 0 0 16px;
}
.access__noteblc--txt2 {
  font-size: 0.75rem;
  line-height: 1.8;
  margin: 0;
}
.access__noteblc--txt3 {
  font-size: 0.75rem;
  line-height: 1.8;
  margin: 0;
  text-indent: -1em;
  padding-left: 1em;
}
@media screen and (max-width: 768px) {
  .access .blc__inner {
    padding: 16.5vw 6.66vw;
  }
  .access__ttl {
    margin: 0 auto 5.8vw;
  }
  .access__mapwrap {
    margin: 0 auto 11vw;
  }
  .access__map:hover {
    opacity: 1;
  }
  .access__blc {
    margin: 0 auto 10vw;
    max-width: 100%;
  }
  .access__noteblc {
    max-width: 100%;
    margin: 0 auto;
    padding: 6vw;
  }
  .access__noteblc--txt {
    font-size: 0.75rem;
    line-height: 1.8;
    margin: 0 0 4.5vw;
  }
}

.is-no-webp .access__ttl {
  background-image: url(../img/ttl_access.png);
}

.is-webp .access__ttl {
  background-image: url(../img/ttl_access.webp);
}

.area {
  background-color: #FFFCC9;
}
.area .blc__inner {
  padding: 57px 0;
  position: relative;
}
.area__scrollimg {
  width: 264px;
  height: 165px;
  overflow-y: scroll;
}
.area__scrollimg img {
  width: 100%;
  height: auto;
}
.area__ttl {
  text-indent: -9999px;
  white-space: nowrap;
  width: 236px;
  height: 52px;
  background-size: 100% auto;
  margin: 0 auto 30px;
}
.area__map {
  margin: 0 auto 100px;
  background-color: #FFF;
  border: solid 5px #000;
  border-radius: 20px;
  padding: 60px 90px 35px;
}
.area__map img {
  width: 100%;
  height: auto;
}
.area__spot {
  position: relative;
  background-color: #FFF;
  border: solid 5px #000;
  border-radius: 20px;
  padding: 80px 28px 36px;
}
.area__spot--wrapper {
  display: flex;
  justify-content: space-between;
}
.area__spot--wrapper .area__spot {
  width: 330px;
  max-width: 330px;
}
.area__spot--ttl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -42px;
  white-space: nowrap;
  text-indent: -9999px;
  background-size: 100% auto;
  width: 110px;
  height: 110px;
  margin: 0;
}
.area__spot--txt {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto 18px;
}
.area .area__spot1 {
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 0 72px;
}
.area .area__spot1--topblc {
  margin: 40px auto 0;
}
.area .area__spot1--topblc-img {
  width: 100%;
}
.area .area__spot1--topblc-img img {
  width: 100%;
  height: auto;
}
.area .area__spot1--chara1 {
  position: absolute;
  width: 88px;
  right: 32px;
  top: -55px;
}
.area .area__spot1--chara1 img {
  width: 100%;
  height: auto;
}
.area .area__spot1--chara2 {
  position: absolute;
  width: 109px;
  left: 43px;
  top: -60px;
}
.area .area__spot1--chara2 img {
  width: 100%;
  height: auto;
}
.area .area__spot1--blc {
  display: flex;
  justify-content: space-between;
}
.area .area__spot1--blc-small {
  max-width: 264px;
}
.area .area__spot1--blc-img {
  background-color: #F9D7E6;
  width: 264px;
  height: 165px;
  max-width: 264px;
  max-height: 165px;
  margin: 0 auto 16px;
  position: relative;
}
.area .area__spot1--blc-img img {
  width: 100%;
  height: auto;
}
.area .area__spot1--blc-imgtest {
  margin-top: 8px;
  width: 180px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.area .area__spot1--blc-imgmain {
  max-width: 264px;
  max-height: 165px;
  overflow: scroll;
}
.area .area__spot1--blc-imgmain img {
  display: block;
}
.area .area__spot1--blc-txt {
  text-align: center;
  font-size: 1rem;
  margin: 0 auto 14px;
}
.area .area__spot1--blc-txt2 {
  text-align: center;
  font-size: 0.8125rem;
  margin: 0 auto;
  line-height: 1.7;
}
.area .area__spot1--blc-txt2 a {
  color: #00A0E9;
  display: block;
  margin-top: 10px;
}
.area .area__spot1--blc-note {
  font-size: 0.75rem;
  text-indent: -1em;
  padding-left: 1em;
  margin: 5px 0 0;
}
.area .area__spot2--chara1 {
  position: absolute;
  width: 87px;
  left: 0;
  top: -36px;
}
.area .area__spot2--chara1 img {
  width: 100%;
  height: auto;
}
.area .area__spot2--chara2 {
  position: absolute;
  width: 114px;
  right: -10px;
  top: -34px;
}
.area .area__spot2--chara2 img {
  width: 100%;
  height: auto;
}
.area .area__spot3--chara1 {
  position: absolute;
  width: 56px;
  right: 34px;
  top: -27px;
}
.area .area__spot3--chara1 img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .area .blc__inner {
    padding: 16.5vw 6.66vw;
  }
  .area__ttl {
    margin: 0 auto 5.8vw;
  }
  .area__map {
    margin: 0 auto 21vw;
    width: 100%;
    border-radius: 20px;
    padding: 10vw 5vw 5vw;
  }
  .area__spot {
    padding: 21vw 9vw 0;
  }
  .area__spot--wrapper {
    display: block;
  }
  .area__spot--wrapper .area__spot {
    width: 100%;
    max-width: 100%;
  }
  .area__spot--wrapper .area__spot2 {
    margin: 0 auto 21vw;
  }
  .area__spot--ttl {
    top: -10.66vw;
    width: 29vw;
    height: 29vw;
  }
  .area__spot--txt {
    margin: 0 auto 4.4vw;
  }
  .area .area__spot1 {
    padding-right: 9vw;
    padding-left: 9vw;
    margin-bottom: 21vw;
  }
  .area .area__spot1--chara1 {
    position: absolute;
    width: 23.5vw;
    right: 0;
    top: -14vw;
  }
  .area .area__spot1--chara2 {
    position: absolute;
    width: 26vw;
    left: 6vw;
    top: -15vw;
  }
  .area .area__spot1--blc {
    display: block;
  }
  .area .area__spot1--blc-small {
    max-width: 100%;
    margin-bottom: 10vw;
  }
  .area .area__spot1--blc-img {
    width: 100%;
    height: 165px;
    margin: 0 auto 16px;
    position: relative;
  }
  .area .area__spot1--blc-imgtest {
    margin-top: 8px;
    width: 80%;
  }
  .area .area__spot2--chara1 {
    position: absolute;
    width: 24vw;
    left: 2.66vw;
    top: -10vw;
  }
  .area .area__spot2--chara2 {
    position: absolute;
    width: 30.44vw;
    right: -4.33vw;
    top: -12vw;
  }
  .area .area__spot3--chara1 {
    position: absolute;
    width: 17.6vw;
    right: auto;
    left: 5.6vw;
    top: -8vw;
  }
}

.is-no-webp .area__ttl {
  background-image: url(../img/ttl_area.png);
}

.is-webp .area__ttl {
  background-image: url(../img/ttl_area.webp);
}

.is-no-webp #spot1 {
  background-image: url(../img/spot1-icon.png);
}

.is-webp #spot1 {
  background-image: url(../img/spot1-icon.webp);
}

.is-no-webp #spot2 {
  background-image: url(../img/spot2-icon.png);
}

.is-webp #spot2 {
  background-image: url(../img/spot2-icon.webp);
}

.is-no-webp #spot3 {
  background-image: url(../img/spot3-icon.png);
}

.is-webp #spot3 {
  background-image: url(../img/spot3-icon.webp);
}

.cafe {
  background: url("../img/bg_cafe.png");
  background-size: 38px 38px;
}
.cafe .blc__inner {
  padding: 57px 0;
  position: relative;
}
.cafe__ttl {
  text-indent: -9999px;
  white-space: nowrap;
  width: 343px;
  height: 52px;
  background-size: 100% auto;
  margin: 0 auto 30px;
}
.cafe__blc {
  position: relative;
  background-color: #FFF;
  border: solid 5px #000;
  border-radius: 20px;
  padding: 80px 35px 36px;
}
.cafe__note {
  text-indent: -1em;
  padding-left: 1em;
  font-size: 0.75rem;
  margin: 0;
}
.cafe__test {
  background-color: #F9D7E6;
  height: 200px;
  position: relative;
  width: 100%;
  margin: 0 auto 10px;
}
.cafe__test--img {
  width: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.cafe__test--img img {
  width: 100%;
  height: auto;
}
.cafe__chara1 {
  position: absolute;
  width: 110px;
  left: 15px;
  top: -68px;
}
.cafe__chara1 img {
  width: 100%;
  height: auto;
}
.cafe__chara2 {
  position: absolute;
  width: 104px;
  right: 12px;
  bottom: -18px;
}
.cafe__chara2 img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .cafe .blc__inner {
    padding: 16.5vw 6.66vw;
  }
  .cafe__ttl {
    margin: 0 auto 5.8vw;
  }
  .cafe__blc {
    padding: 21vw 5vw 8vw;
  }
  .cafe__note {
    margin-right: 30vw;
  }
  .cafe__test {
    height: 400px;
    margin: 0 auto 10px;
  }
  .cafe__test--img {
    width: 60vw;
  }
  .cafe__chara1 {
    position: absolute;
    width: 29.5vw;
    left: auto;
    right: -6.6vw;
    top: -16.5vw;
  }
  .cafe__chara1 img {
    width: 100%;
    height: auto;
  }
  .cafe__chara2 {
    position: absolute;
    width: 27.6vw;
    right: 12px;
    bottom: -18px;
  }
  .cafe__chara2 img {
    width: 100%;
    height: auto;
  }
}

.is-no-webp .cafe__ttl {
  background-image: url(../img/ttl_cafe.png);
}

.is-webp .cafe__ttl {
  background-image: url(../img/ttl_cafe.webp);
}

.faq {
  background-color: #FFCD7B;
}
.faq .blc__inner {
  padding: 57px 0;
  position: relative;
}
.faq a {
  color: #00A0E9;
}
.faq__chara {
  font-size: 0;
  position: absolute;
  top: -34px;
  left: 34px;
}
.faq__chara img {
  width: 84px;
  height: auto;
}
.faq__ttl {
  white-space: nowrap;
  text-indent: -9999px;
  margin: 0 auto 30px;
  background-size: 100% auto;
  width: 343px;
  height: 52px;
  font-size: 0;
}
.faq__blc {
  background-color: #FFF;
  border-radius: 20px;
  margin: 0 auto 20px;
}
.faq__blc--small {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq__blc--arrow {
  width: 30px;
  min-width: 30px;
  margin: 0 0 0 30px;
}
.faq__blc--arrow span {
  display: inline-block;
  width: 30px;
  height: 17px;
  background: url("../img/arrow.svg");
  background-size: 100% auto;
}
.faq__blc--txt {
  margin: 0;
  font-size: 0.875rem;
}
.faq__blc--subttl {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  width: 70px;
  min-width: 70px;
  margin: 0;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}
.faq__blc--q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px 25px 25px;
}
.faq__blc--q .faq__blc--subttl {
  color: #45AD75;
}
.faq__blc--q .faq__blc--txt {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
}
.faq__blc--q .faq__blc--txt span {
  display: block;
}
.faq__blc--a {
  display: none;
}
.faq__blc--a-inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("../img/bg_answer.svg") repeat-x;
  background-size: 10px 2px;
  background-position: top 0 right 0;
  padding: 25px 30px 25px 25px;
}
.faq__blc--a-inner .faq__blc--txt {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
}
.faq__blc--a .faq__blc--subttl {
  color: #F39800;
}
.faq__blc--a .faq__blc--txt {
  margin-right: 60px;
}
.faq__inquiery {
  text-align: center;
  margin: 40px auto 0;
  font-size: 1rem;
}
.faq .faq__blc--arrow {
  animation: rotate-anime 0.3s ease-out 1;
  transform: rotate(180deg);
}
.faq .open .faq__blc--arrow {
  transform: rotate(0);
  animation: rotate-anime2 0.3s ease-out 1;
}
@media screen and (max-width: 768px) {
  .faq .blc__inner {
    padding: 14.66vw 6.66vw;
    position: relative;
  }
  .faq__chara {
    top: -7vw;
    left: 14.66vw;
  }
  .faq__chara img {
    width: 19.22vw;
    height: auto;
  }
  .faq__ttl {
    white-space: nowrap;
    text-indent: -9999px;
    margin: 0 auto 30px;
    background-size: 100% auto;
    width: 343px;
    height: 52px;
    font-size: 0;
  }
  .faq__blc {
    margin: 0 auto 10px;
  }
  .faq__blc--arrow {
    width: 8vw;
    min-width: 8vw;
    margin: 1vw 0 0 4vw;
  }
  .faq__blc--arrow span {
    display: inline-block;
    width: 8vw;
    height: 4.53vw;
    background-size: 100% auto;
  }
  .faq__blc--txt {
    margin: 0;
    font-size: 0.75rem;
  }
  .faq__blc--subttl {
    font-size: 2.5rem;
    width: 12.8vw;
    min-width: 12.8vw;
    margin: 0;
  }
  .faq__blc--small {
    align-items: flex-start;
    min-height: 4.53vw;
    height: 100%;
  }
  .faq__blc--q {
    padding: 5.6vw 7.46vw 5.3vw 6.66vw;
    align-items: flex-start;
  }
  .faq__blc--q .faq__blc--txt {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
  }
  .faq__blc--q .faq__blc--txt span {
    display: block;
  }
  .faq__blc--a-inner {
    align-items: flex-start;
    padding: 5.6vw 7.46vw 5.3vw 6.66vw;
  }
  .faq__blc--a .faq__blc--txt {
    margin-right: 2.66vw;
  }
  .faq__inquiery {
    margin: 9vw auto 0;
  }
}

.footer {
  background: #FFFCC9;
  padding: 46px 0 33px;
}
.footer__ttl {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 400;
  margin: 0 auto 23px;
}
.footer__ttl::before {
  content: "";
  width: 24px;
  height: 24px;
  background-size: 100% auto;
  background: url("../img/before.svg") no-repeat;
  font-size: 0;
  display: inline-block;
  margin-bottom: -5px;
}
.footer__ttl::after {
  content: "";
  width: 24px;
  height: 24px;
  background-size: 100% auto;
  background: url("../img/after.svg") no-repeat;
  font-size: 0;
  display: inline-block;
  margin-bottom: -5px;
}
.footer__image {
  width: 374px;
  height: 261px;
  display: block;
  margin: 0 auto;
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
}
.footer__sns {
  font-size: 0;
}
.footer__sns a {
  background-size: 100% auto;
  display: block;
  width: 289px;
  height: 88px;
  margin: 0 auto 18px;
  font-size: 0.75rem;
  text-decoration: none;
  color: #000;
  padding-left: 87px;
  padding-top: 26px;
  font-weight: bold;
}
.footer__sns a:hover {
  opacity: 0.7;
}
.footer__copy {
  text-align: center;
  font-size: 0.625rem;
  line-height: 1;
  margin: 8px 0 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 13.33vw 0 9.6vw;
  }
  .footer__image {
    width: 100vw;
    height: 69.8vw;
  }
  .footer__copy {
    margin: 8px 0 0;
  }
}

.is-no-webp .footer__image {
  background-image: url(../img/footer_img.png);
}

.is-webp .footer__image {
  background-image: url(../img/footer_img.webp);
}

.is-no-webp .footer__sns--tw {
  background-image: url(../img/bg_twitter.png);
}

.is-webp .footer__sns--tw {
  background-image: url(../img/bg_twitter.webp);
}

.is-no-webp .footer__sns--ig {
  background-image: url(../img/ig.png);
}

.is-webp .footer__sns--ig {
  background-image: url(../img/ig.webp);
}

.goods {
  background-color: #FFFCC9;
}
.goods .blc__inner {
  padding: 57px 0;
  position: relative;
}
.goods__test {
  background-color: #F9D7E6;
  height: 200px;
  position: relative;
  width: 100%;
  margin: 0 auto 10px;
}
.goods__test--img {
  width: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.goods__test--img img {
  width: 100%;
  height: auto;
}
.goods__ttl {
  text-indent: -9999px;
  white-space: nowrap;
  width: 343px;
  height: 52px;
  background-size: 100% auto;
  margin: 0 auto 30px;
}
.goods__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.goods__list li {
  width: 154px;
  max-width: 154px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.goods__list li:nth-child(4n) {
  margin-right: 0;
}
.goods__list--img {
  width: 100%;
  height: 154px;
  background-color: #F9D7E6;
  margin: 0 0 10px;
}
.goods__list--name {
  font-size: 0.875rem;
  margin: 0 0 10px;
  line-height: 1.5;
}
.goods__list--price {
  font-size: 0.875rem;
  line-height: 1;
  margin: 0;
}
.goods__list--price span {
  font-size: 0.8em;
}
@media screen and (max-width: 768px) {
  .goods .blc__inner {
    padding: 16.5vw 6.66vw;
  }
  .goods__ttl {
    margin: 0 auto 5.8vw;
  }
  .goods__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .goods__list li {
    width: 40vw;
    max-width: 40vw;
    margin-right: 6.66vw;
    margin-bottom: 10vw;
  }
  .goods__list li:nth-child(2n) {
    margin-right: 0;
  }
  .goods__list--img {
    width: 100%;
    height: 154px;
    margin: 0 0 10px;
  }
}

.is-no-webp .goods__ttl {
  background-image: url(../img/ttl_goods.png);
}

.is-webp .goods__ttl {
  background-image: url(../img/ttl_goods.webp);
}

.gnavBg {
  position: fixed;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  overflow: auto;
  white-space: nowrap;
  text-indent: -9999px;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.gnavBg.active {
  display: block;
}

.g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 410px;
  height: 100vh;
  /*ナビの高さ*/
  background: #FFFCC9;
  /*動き*/
  transition: all 0.3s;
  background-size: auto 100%;
  background-position: top 26px center;
  background-repeat: no-repeat;
}
.g-nav__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .g-nav {
    width: 84vw;
  }
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  width: 100%;
  padding: 120px 0 0 35px;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 768px) {
  #g-nav.panelactive #g-nav-list {
    padding: 25vw 0 0 8vw;
  }
}

/*ナビゲーション*/
/*========= ボタンのためのCSS ===============*/
/*×に変化*/
.navBtn {
  position: fixed;
  z-index: 9999;
  top: 35px;
  right: 25px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #FFF;
  border: solid 5px #000;
  border-radius: 50%;
}
.navBtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  width: 45%;
}
.navBtn span:nth-of-type(1) {
  top: 17px;
}
.navBtn span:nth-of-type(2) {
  top: 25px;
}
.navBtn span:nth-of-type(3) {
  top: 33px;
}
@media screen and (max-width: 768px) {
  .navBtn {
    top: 10px;
    right: 10px;
  }
}

.navBtn.active span:nth-of-type(1) {
  top: 18px;
  left: 14px;
  transform: translateY(6px) rotate(-45deg);
  width: 45%;
}
.navBtn.active span:nth-of-type(2) {
  opacity: 0;
}
.navBtn.active span:nth-of-type(3) {
  top: 30px;
  left: 14px;
  transform: translateY(-6px) rotate(45deg);
  width: 45%;
}

.header {
  width: 100%;
  background-color: #45AD75;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 39.38vw 0 3.77vw;
  position: relative;
  background-position: center top -2.7vw;
}
.header__chara {
  position: absolute;
  width: 208px;
  bottom: 20px;
  right: -20px;
}
.header__chara img {
  width: 100%;
  height: auto;
}
.header__link {
  position: fixed;
  z-index: 3;
  right: 0;
  bottom: 245px;
  background: #FFF655;
  border: solid 4px #000;
  border-right: none;
  display: inline-block;
  text-decoration: none;
  font-size: 1.375rem;
  font-weight: 900;
  line-height: 1;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 25px 25px 25px 50px;
  color: #000;
}
.header__link:hover {
  background-color: #FFFCC9;
  color: #000;
}
.header__details {
  background: #FFF;
  border: solid 5px #000;
  position: relative;
  padding: 26px 20px 17px;
  display: inline-block;
  border-radius: 30px;
  margin: 0 auto 40px;
}
.header__details--wrap {
  display: flex;
  justify-content: center;
}
.header__details--img {
  width: 325px;
  margin: 0 auto;
  font-size: 0;
}
.header__details--img img {
  width: 100%;
  height: auto;
}
.header__details--ttl {
  position: absolute;
  white-space: nowrap;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
}
.header__details--ttl span {
  display: inline-block;
  color: #FFF;
  width: 150px;
  padding: 8px 0;
  line-height: 1;
  border-radius: 20px;
  background-color: #000;
  font-size: 1.25rem;
}
.header__details--tblc {
  border-bottom: solid 2px #000;
  display: flex;
  padding: 0 26px 8px;
  align-items: flex-end;
  margin: 0 0 12px;
}
.header__details--tblc-year {
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 auto 7px;
}
.header__details--tblc-date {
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
.header__details--tblc-date span {
  display: inline-block;
  font-size: 0.875rem;
  margin: 0 0 0 5px;
}
.header__details--tblc-arr {
  margin: 0 20px;
}
.header__details--txt1 {
  text-align: center;
  font-size: 1.125rem;
  margin: 0 auto 10px;
  line-height: 1;
}
.header__details--txt2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.header__details--txt2-time {
  color: #fff;
  background: #000;
  font-size: 1rem;
  padding: 6px 9px;
  border-radius: 7px;
  display: inline-block;
}
.header__details--txt2-time2 {
  color: #000;
  font-size: 1.25rem;
  display: inline-block;
  margin: 0 0 0 8px;
}
.header__ttl {
  text-align: center;
  color: #FFF;
  margin: 0 auto 30px;
  font-size: 1.375rem;
  line-height: 1.545;
}
.header__subttl {
  text-align: center;
  color: #FFF;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.75;
}
.header__menu {
  margin: 0;
  padding: 0;
}
.header__menu li {
  list-style: none;
}
.header__menu li a {
  font-size: 1.75rem;
  font-weight: 900;
  text-decoration: none;
  color: #000;
  display: block;
  margin: 0 0 30px;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 117vw 0 12.5vw;
    background-position: center top 0;
  }
  .header__chara {
    position: absolute;
    width: 50vw;
    bottom: 20px;
    right: -20px;
  }
  .header__menu li a {
    font-size: 1.25rem;
    margin: 0 0 5vw;
  }
  .header__link {
    position: fixed;
    z-index: 100;
    right: 50%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: 54px;
    white-space: nowrap;
    border: solid 5px #000;
    display: block;
    border-radius: 40px;
    padding: 25px 30px;
  }
  .header__link:hover {
    background-color: #FFF655;
  }
  .header__details {
    margin: 0 auto 10vw;
  }
  .header__details--img {
    width: 86.66vw;
  }
  .header__details--ttl {
    position: absolute;
    white-space: nowrap;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
  }
  .header__details--ttl span {
    width: 40vw;
  }
  .header__details--tblc {
    padding: 0 7vw 2.5vw;
    margin: 0 0 3.2vw;
  }
  .header__ttl {
    text-align: left;
    font-size: 1.375rem;
    margin: 0 auto 6vw;
    width: 87.2vw;
  }
  .header__ttl br {
    display: none;
  }
  .header__ttl span br {
    display: block;
  }
  .header__subttl {
    text-align: left;
    width: 87.2vw;
  }
  .header__subttl br {
    display: none;
  }
}

.is-no-webp .header {
  background-image: url(../img/fv_pc.png);
}

.is-webp .header {
  background-image: url(../img/fv_pc.webp);
}

.is-no-webp .g-nav {
  background-image: url(../img/bg_menu.png);
}

.is-webp .g-nav {
  background-image: url(../img/bg_menu.webp);
}

@media screen and (max-width: 768px) {
  .is-no-webp .header {
    background-image: url(../img/fv_sp.png);
  }
  .is-webp .header {
    background-image: url(../img/fv_sp.webp);
  }
}
/*** The new CSS reset - version 1.7.2 (last updated 23.6.2022) ***/
*:where(:not(html, iframe, canvas, img, svg, video):not(svg*, symbol*)) {
  all: unset;
  display: revert;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

a {
  outline: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  outline: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
}

.tiket {
  background-color: #45AD75;
}
.tiket .blc__inner {
  padding: 57px 0;
  position: relative;
}
.tiket__tokuten {
  background: #F7C9DD;
}
.tiket__tokuten .tiket__blc {
  padding-bottom: 54px;
}
.tiket__tokuten--subttl {
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0 auto 12px;
  padding-top: 68px;
}
.tiket__tokuten--img {
  background-color: #F9D7E6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 200px;
  margin: 0 auto 50px;
}
.tiket__tokuten--img img {
  width: 200px;
  height: auto;
}
.tiket__tokuten--txt {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 350px;
}
.tiket__notes {
  font-weight: 700;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto 32px;
}
.tiket__ttl {
  text-indent: -9999px;
  white-space: nowrap;
  width: 236px;
  height: 52px;
  background-size: 100% auto;
  margin: 0 auto 36px;
  letter-spacing: 1px;
}
.tiket__chara {
  font-size: 0;
  position: absolute;
  top: -26px;
  left: 0;
}
.tiket__chara img {
  width: 126px;
  height: auto;
}
.tiket__neko {
  position: absolute;
  right: 0;
  bottom: -33px;
}
.tiket__neko img {
  width: 125px;
  height: auto;
}
.tiket__tab {
  margin: 0;
  padding: 0;
  display: flex;
}
.tiket__tab li {
  list-style-type: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
  width: 50%;
  padding: 10px 0;
  cursor: pointer;
}
.tiket__tab li:first-child {
  background-color: #FFF655;
}
.tiket__tab li:nth-child(2) {
  background-color: #F7C9DD;
}
.tiket__tab li.active {
  cursor: auto;
}
.tiket__tabmain {
  width: 100%;
  margin: 0;
  font-size: 0;
  padding: 0;
}
.tiket__tabmain li {
  font-size: 0;
  min-height: 700px;
  position: relative;
  padding: 68px 98px 58px;
  display: none;
}
.tiket__tabmain li.yel {
  background-color: #FFF655;
  margin: 0;
}
.tiket__tabmain li.active {
  display: block;
}
.tiket__blc {
  position: relative;
  border: solid 5px #000;
  border-radius: 20px;
  background-color: #FFF;
  margin: 0 auto 30px;
}
.tiket__blc--ttl {
  width: 207px;
  height: 54px;
  white-space: nowrap;
  text-indent: -9999px;
  position: absolute;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  display: flex;
  background-size: 100% auto;
  align-items: center;
}
.tiket__blc--small {
  border-bottom: solid 1px #000;
  width: 356px;
  margin: 0 auto 33px;
  padding: 56px 0 30px;
}
.tiket__blc--smalltxt {
  font-size: 1.25rem;
  line-height: 2;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  letter-spacing: 1px;
}
.tiket__blc2 {
  padding-bottom: 33px;
}
.tiket__subtxt {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.8;
  margin: 0;
}
.tiket__txt {
  font-size: 0.75rem;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 356px;
  padding-left: 1em;
  text-indent: -1em;
}
.tiket__txt2 {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.6;
  padding-bottom: 0;
  margin: 0;
  letter-spacing: 0;
}
.tiket__lowson {
  background-color: #E4097F;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 800;
  color: #FFF;
  text-decoration: none;
  margin: 0 auto;
  display: inline-block;
  padding: 8px 53px 10px 27px;
  line-height: 24px;
  background-image: url("../img/map.svg");
  background-repeat: no-repeat;
  background-position: right 16px top 8px;
  background-size: 23px 23px;
}
.tiket__lowson--wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto 15px;
}
.tiket__lowson:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .tiket .blc__inner {
    padding: 16.5vw 6.66vw;
  }
  .tiket__tokuten .tiket__blc {
    padding-bottom: 8.3vw;
  }
  .tiket__tokuten--subttl {
    letter-spacing: 0;
    margin: 0 auto 8vw;
    padding-top: 15.2vw;
  }
  .tiket__tokuten--img {
    width: 43.2vw;
    height: 42.1vw;
    margin: 0 auto 12.5vw;
  }
  .tiket__tokuten--img img {
    width: 38vw;
    height: auto;
  }
  .tiket__tokuten--txt {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0;
    margin: 0 auto;
    width: 60vw;
  }
  .tiket__notes {
    font-size: 1rem;
    letter-spacing: 0;
    margin: 0 auto 4.8vw;
  }
  .tiket__ttl {
    margin: 0 auto 10.66vw;
  }
  .tiket__chara {
    top: -12.8vw;
    left: 11vw;
  }
  .tiket__chara img {
    width: 32vw;
    height: auto;
  }
  .tiket__neko {
    bottom: -18px;
  }
  .tiket__neko img {
    width: 33.33vw;
    height: auto;
  }
  .tiket__tab li {
    padding: 3.5vw 0;
  }
  .tiket__tabmain li {
    padding: 17.6vw 6.66vw 16.2vw;
    height: auto;
  }
  .tiket__tabmain .yel {
    padding-bottom: 30vw;
  }
  .tiket__blc {
    margin: 0 auto;
  }
  .tiket__blc--ttl {
    white-space: nowrap;
  }
  .tiket__blc--small {
    width: 60vw;
    margin: 0 auto 8.55vw;
    padding: 15vw 0 8.55vw;
  }
  .tiket__blc--smalltxt {
    letter-spacing: 0;
  }
  .tiket__blc2 {
    width: 62vw;
    margin: 0 auto;
    padding-bottom: 9vw;
  }
}

.is-no-webp .tiket__ttl {
  background-image: url(../img/ttl_tiket.png);
}

.is-webp .tiket__ttl {
  background-image: url(../img/ttl_tiket.webp);
}

.is-no-webp .yel .tiket__blc--ttl {
  background-image: url(../img/ticket-info.png);
}

.is-webp .yel .tiket__blc--ttl {
  background-image: url(../img/ticket-info.webp);
}

.is-no-webp .tiket__tokuten .tiket__blc--ttl {
  background-image: url(../img/prize-info.png);
}

.is-webp .tiket__tokuten .tiket__blc--ttl {
  background-image: url(../img/prize-info.webp);
}

html {
  scroll-behavior: auto;
}

body {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}

h3 {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}

.blc__inner {
  width: 700px;
  margin: 0 auto;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
.header .header__ttl, .header .header__subttl {
  opacity: 0;
}
.header.is-show .header__ttl {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 2s;
}
.header.is-show .header__subttl {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 3s;
}

.area__map .area__map--img {
  opacity: 0;
}
.area__map.is-show .area__map--img {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 2s;
}

.area__spot1 .header__ttl, .area__spot1 .header__subttl {
  opacity: 0;
}
.area__spot1.is-show .area__spot1--blc-small1 {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 2s;
}
.area__spot1.is-show .area__spot1--blc-small2 {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 3s;
}

.area__spot2 .area__spot1--blc {
  opacity: 0;
}
.area__spot2.is-show .area__spot1--blc {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 2s;
}

.area__spot3 .area__spot1--blc {
  opacity: 0;
}
.area__spot3.is-show .area__spot1--blc {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 3s;
}

.cafe__blc .cafe__test--img {
  opacity: 0;
}
.cafe__blc.is-show .cafe__test--img {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 3s;
}

.goods__test .goods__test--img {
  opacity: 0;
}
.goods__test.is-show .goods__test--img {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 3s;
}

.area__spot1--topblc .area__spot1--topblc--wrapper {
  opacity: 0;
}
.area__spot1--topblc.is-show .area__spot1--topblc--wrapper {
  opacity: 1;
  animation-name: fadeUpAnime;
  animation-duration: 3s;
}

.fadein01, .fadein02, .fadein03, .fadein04, .fadein05, .fadein06, .fadein07, .fadein08 {
  opacity: 0;
  transition: all 800ms;
  transform: translate(0, 0);
}
.fadein01.scrollin, .fadein02.scrollin, .fadein03.scrollin, .fadein04.scrollin, .fadein05.scrollin, .fadein06.scrollin, .fadein07.scrollin, .fadein08.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

@keyframes fadeUpAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate-anime2 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate-anime {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 768px) {
  .blc__inner {
    width: 100%;
    position: relative;
  }
}
.is-no-webp .faq__ttl {
  background-image: url(../img/ttl_faq.png);
}

.is-webp .faq__ttl {
  background-image: url(../img/ttl_faq.webp);
}